/* Reset animation type stuff so screenshots don't thrash between runs */
*, *::before, *::after {
  caret-color: transparent !important;
  transition-delay: 0s !important;
  transition-duration: 0s !important;
  animation-duration: 0s !important;
  animation-delay: 0s !important;
}
