/* Reset animation type stuff so screenshots don't thrash between runs */
*, *::before, *::after {
  box-shadow: none !important;
  caret-color: transparent !important;
  animation: none !important;
  transition: none !important;
  transition-duration: 0s !important;
}
