<div data-target="select-panel.noMatchesMessage" class="p-3 d-flex flex-items-center flex-column flex-justify-start SelectPanel-emptyPanel" hidden>
  <h2 class="f5">
    <%= title %>
  </h2>
  <% if description? %>
    <h3 class="f6 text-normal color-fg-muted mt-1">
      <%= description %>
    </h3>
  <% end %>
</div>
