<%# Center the invoker button to give left-appearing sub-menus enough space %>
<div style="<%= sub_menu_anchor_side.to_s.include?("left") ? "text-align: center" : "" %>">
  <%= render(Primer::Alpha::ActionMenu.new(anchor_align: anchor_align, anchor_side: anchor_side)) do |menu| %>
    <% menu.with_show_button { "Edit" } %>
    <% menu.with_item(label: "Cut") %>
    <% menu.with_item(label: "Copy") %>
    <% menu.with_sub_menu_item(label: "Paste special", anchor_align: sub_menu_anchor_align, anchor_side: sub_menu_anchor_side) do |sub_menu| %>
      <% sub_menu.with_leading_visual_icon(icon: :"sparkle-fill") %>
      <% sub_menu.with_item(label: "Paste plain text") %>
      <% sub_menu.with_item(label: "Paste formulas") %>
      <% sub_menu.with_item(label: "Paste with formatting") %>
      <% sub_menu.with_sub_menu_item(label: "Paste from") do |sub_menu| %>
        <% sub_menu.with_item(label: "Current clipboard") %>
        <% sub_menu.with_item(label: "History") %>
        <% sub_menu.with_item(label: "Another device") %>
      <% end %>
    <% end %>
  <% end %>
</div>
