/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
/vendor/
/test/log/
**/*.stories.json
**/node_modules/
*.log
test/demo/public/packs/
test/demo/tmp/
test/demo/config/master.key
