/**/.bundle/
/**/vendor/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
/demo/public/
/test/log/
**/*.stories.json
**/node_modules/
*.log
*.orig
demo/public/packs/
demo/tmp/
demo/config/master.key
demo/test/components/previews/primer/docs/
demo/app/assets/stylesheets/primer.css
primer_view_components*.gem
.DS_Store
app/components/**/*.js
app/components/**/*.d.ts
/.idea
docs/.cache
docs/public/