<style type="text/css">
  .asset-preview + .asset-preview {
    margin-top: 30px;
  }
  .asset-header {
    display: flex;
    align-items: center;
    padding-left: 4px;
    padding-right: 4px;
    margin-bottom: 6px;
  }
  .asset-icon {
    margin-right: 6px;
    color: var(--lookbook-accent-500);
  }
  .asset-title {
    font-size: 12px;
    opacity: 0.75;
  }
  .asset-contents {
    background: #fff;
    overflow: hidden;
    border-radius: 6px;
    border: 1px solid var(--lookbook-divider);
  }
</style>

<div class="lookbook-panel">
  <% if assets.any? %>
    <% assets.each do |asset| %>
      <div class="asset-preview">
        <header class="asset-header">
          <%= icon :file, size: 3.5, class: "asset-icon" %>
          <h4 class="asset-title font-mono"><%= asset[:path].relative_path_from(Primer::ViewComponents.root) %></h4>
        </header>
        <div class="asset-contents">
          <%= code language: asset[:language], line_numbers: true do %><%== File.read(asset[:path]) %><% end %>
        </div>
      </div>
    <% end %>
  <% else %>
    <p>No assets to display.</p>
  <% end %>
</div>
