/* CSS for SidePanel  */

.SidePanel-sectionHeader {
  display: flex;
  align-items: center;
}

.SidePanel-sectionCounter {
  margin-left: 8px;
}

.SidePanel-action {
  justify-content: right;
  flex: 1;
  display: flex;
}

.SidePanel-sectionContent,
.SidePanel-sectionDescription {
  margin-top: 4px;
}

.SidePanel-sectionFooter {
  margin-top: 12px;
}
