<div class="d-flex border color-border-success-emphasis">
  <%= render(Primer::Alpha::StackItem.new(**system_arguments, border: true, border_color: :danger_emphasis)) do %>
    Hello, world!
  <% end %>
</div>
