/* CSS for ActionBar  */

.ActionBar {
  display: flex;
  align-items: center;
  justify-content: end;
  position: relative;
}

/* Divider */

.ActionBar-divider {
  margin: 0 var(--primer-control-medium-gap, 8px);
  height: calc(var(--primer-control-medium-size, 32px) / 2);
  border-left: var(--primer-borderWidth-thin, 1px) solid var(--color-border-subtle);
}
