/* CSS for OpenProject::SidePanel::Section  */

.SidePanel-sectionHeader {
  display: flex;
  align-items: center;
  height: 32px;
  margin-bottom: 8px;
}

.SidePanel-sectionCounter {
  margin-left: 8px;
}

.SidePanel-sectionAction {
  justify-content: right;
  flex: 1;
  display: flex;
}

.SidePanel-sectionContent,
.SidePanel-sectionDescription {
  margin-bottom: 16px;
  line-height: 1;
}
