<div class="col-4 ml-4 mr-4 mb-4 mt-3">
  <p>Each of these fields comes from its own form definition.</p>
  <%= form_with(url: "/foo", skip_default_ids: false) do |f| %>
    <%= render(ComposedForm.new(f)) %>
  <% end %>
</div>
