<div style="max-width: 400px">
  <%= render(Primer::Alpha::TreeView.new(node_variant: :button)) do |tree_view| %>
    <% tree_view.with_sub_tree(label: "Secrets", expanded: expanded, onclick: "alert('Shhhh')") do |sub_tree| %>
      <% sub_tree.with_leaf(label: "Life and the universe", onclick: "alert(42)") %>
      <% sub_tree.with_leaf(label: "Secret ingredient", onclick: "alert('Love')") %>
    <% end %>

    <% tree_view.with_leaf(label: "What do you give a sick bird?", onclick: "alert('Tweetment')") %>
  <% end %>
</div>
