The name <strong><%= input_value %></strong> is available.
<div class="color-fg-muted">
  The name can only contain ASCII letters, digits, and the characters <code>.</code>, <code>-</code> and <code>_</code>.
</div>
