<!DOCTYPE html>
<html>
  <head>
    <title>Demo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://unpkg.com/@primer/css@0.0.0-20211029165521/dist/primer.css" rel="stylesheet" />

    <%= javascript_include_tag "primer_view_components", type: "module" %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
