<!DOCTYPE html>
<html>
  <head>
    <title>ActionView::Component Storybook Preview</title>

    <link href="https://unpkg.com/@primer/css/dist/primer.css" rel="stylesheet" />
  </head>

  <body>
    <div class="d-flex flex-justify-center">
      <%= yield %>
    </div>
  </body>
</html>
