<!DOCTYPE html>
<html>
  <head>
    <title>ActionView::Component Storybook Preview</title>

    <link href="https://unpkg.com/@primer/css/dist/primer.css" rel="stylesheet" />
    <%= javascript_include_tag "primer_view_components" %>
  </head>

  <body>
    <div class="d-flex flex-justify-center" style="position:relative">
      <%= yield %>
    </div>
  </body>
</html>
