/*
 *= require_tree .
 *= require_self
 *= require @primer/css/dist/primitives.css
 *= require @primer/css/dist/color-modes.css
 *= require @primer/css/dist/base.css
 *= require @primer/css/dist/box.css
 *= require @primer/css/dist/breadcrumb.css
 *= require @primer/css/dist/buttons.css
 *= require @primer/css/dist/table-object.css
 *= require @primer/css/dist/forms.css
 *= require @primer/css/dist/layout.css
 *= require @primer/css/dist/links.css
 *= require @primer/css/dist/navigation.css
 *= require @primer/css/dist/pagination.css
 *= require @primer/css/dist/tooltips.css
 *= require @primer/css/dist/truncate.css
 *= require @primer/css/dist/overlay.css
 *= require @primer/css/dist/utilities.css
 *= require @primer/css/dist/alerts.css
 *= require @primer/css/dist/autocomplete.css
 *= require @primer/css/dist/avatars.css
 *= require @primer/css/dist/blankslate.css
 *= require @primer/css/dist/branch-name.css
 *= require @primer/css/dist/dropdown.css
 *= require @primer/css/dist/header.css
 *= require @primer/css/dist/loaders.css
 *= require @primer/css/dist/markdown.css
 *= require @primer/css/dist/popover.css
 *= require @primer/css/dist/progress.css
 *= require @primer/css/dist/select-menu.css
 *= require @primer/css/dist/subhead.css
 *= require @primer/css/dist/timeline.css
 *= require @primer/css/dist/toasts.css
 *= require @primer/css/dist/toggle-switch.css
*/
