.theme-wrap {
  display: grid;
  grid-template-columns: repeat(4, minmax(var(--primer-breakpoint-xsmall), auto));
  grid-gap: 1px;
}

.theme-wrap .preview-wrap {
  /* Lookbook border color */
  outline: 1px solid #d4d4d8;
  padding-bottom: 40px;
}

@media (max-width: calc(20rem * 4)) {
  .theme-wrap {
    grid-template-columns: repeat(3, minmax(var(--primer-breakpoint-xsmall), auto));
  }
}

@media (max-width: calc(20rem * 3)) {
  .theme-wrap {
    grid-template-columns: repeat(2, minmax(var(--primer-breakpoint-xsmall), auto));
  }
}

@media (max-width: calc(20rem * 2)) {
  .theme-wrap {
    display: block;
  }
}

.theme-name {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: var(--bgColor-muted);
  padding: var(--base-size-4) var(--base-size-8);
  font: var(--primer-text-caption-shorthand);
}

.preview-wrap {
  position: relative;
  padding: 16px;
}
