<% if @input.caption? && !@input.caption.blank? %>
  <span class="FormControl-caption" id="<%= @input.caption_id %>"><%= @input.caption %></span>
<% elsif caption_template? %>
  <% caption_template = render_caption_template %>
  <% unless caption_template.blank? %>
    <span class="FormControl-caption" id="<%= @input.caption_id %>">
      <%= caption_template %>
    </span>
  <% end %>
<% end %>
