<%= render(Primer::SubheadComponent.new) do |component| %>
  <% component.heading(tag: :h3) do %>
    My Heading
  <% end %>
<% end %>
<p> This is a longer description that is sitting below the Subhead. It's much longer than a description that could sit comfortably in the Subhead. </p>
