<%= render(Primer::Alpha::Dialog.new(id: "dialog-one", title: title, subtitle: subtitle, visually_hide_title: false, auto_open: auto_open)) do |d| %>
  <% d.with_show_button { button_text } %>
  <% d.with_body do %>
    <p>Dialog One!</p>

    <form>
      <label for="dialog-text-input-example">Example input</label>
      <input id="dialog-text-input-example" type="text" value="Some text goes in here">
    </form>
  <% end %>
<% end %>
