<div>
  <%# TODO %>
  <button id="some-button">Some button with tooltip</button>
  <%= render(Primer::Alpha::Tooltip.new(for_id: "some-button", type: type, text: tooltip_text, direction: direction)) %>
</div>
