<%= render Primer::BaseComponent.new(**@system_arguments) do %>
  <%= render body_component do %>
    <% avatars.each_with_index do |avatar, i| %>
      <% if i == 2 %>
        <div class="avatar avatar-more"></div>
      <% end %>
      <%= avatar %>
    <% end %>
  <% end %>
  <% if @tooltipped %>
    <%= render Primer::Alpha::Tooltip.new(**@tooltip_arguments) %>
  <% end %>
<% end %>
