<%= render(Primer::BaseComponent.new(tag: :ul, **@system_arguments)) do %>
  <% sections.each_with_index do |section, index| %>
    <% if index > 0 %>
      <%= render(Primer::Alpha::ActionList::Divider.new) %>
    <% end %>
    <li>
      <%= section %>
    </li>
  <% end %>
<% end %>
