<action-list>
  <%= render(Primer::BaseComponent.new(tag: :nav, **@nav_arguments)) do %>
    <%= render(Primer::BaseComponent.new(tag: :ul, **@list_arguments)) do %>
      <% items.each do |item| %>
        <%= item %>
      <% end %>
      <% unless sections.empty? %>
        <li class="ActionList-sectionDivider"></li>
      <% end %>
      <% sections.each_with_index do |section, idx| %>
        <li class="ActionList-sectionDivider"></li>
        <%= section %>
      <% end %>
    <% end %>
  <% end %>
</action-list>
