/* CSS for OrderedList  */

.OrderedList {
  padding-left: var(--base-size-8, 8px);
}

.OrderedList-type--decimal {
  list-style-type: decimal;
}

.OrderedList-type--upperAlpha {
  list-style-type: upper-alpha;
}

.OrderedList-type--lowerAlpha {
  list-style-type: lower-alpha;
}

.OrderedList-type--upperRoman {
  list-style-type: upper-roman;
}

.OrderedList-type--lowerRoman {
  list-style-type: lower-roman;
}
