.Overlay[popover] {
  border-width: 0;
  padding: 0;
  position: absolute;
  min-width: 192px;
}

/* stylelint-disable-next-line selector-pseudo-class-no-unknown */
.Overlay[popover]:not(:open) {
  display: none;
}

anchored-position {
  display: block;
}
