.Overlay[popover] {
  border-width: 0;
  padding: 0;
  position: absolute;
  min-width: 192px;
  inset: auto;
}

.Overlay[popover]:not(.\:popover-open) {
  display: none;
}

@supports selector(:popover-open) {
  .Overlay[popover]:not(.\:popover-open) {
    display: revert;
  }
}

@supports selector(:open) {
  .Overlay[popover]:not(.\:popover-open) {
      display: revert;
  }
}
