<segmented-control>
  <%= render Primer::BaseComponent.new(tag: :ul, **@system_arguments) do %>
    <% buttons.each do |button| %>
      <li>
        <%= button %>
      </li>
    <% end %>
  <% end %>
</segmented-control>
