.SelectPanel-loadingPanel {
  min-height: min(calc(var(--overlay-height) - 10rem), calc(100vh - 2rem));
}

.SelectPanel-emptyPanel {
  min-height: min(calc(var(--overlay-height) - 23rem), calc(100vh - 2rem));
    align-items: center;
    display: flex;
    justify-content: center;
}
