.SplitButton {
  display: inline-flex;
  flex-direction: row;
  min-width: max-content;

  /* first child */
  & .Button:not(.Button--iconOnly) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  /* second child */
  & .Button--iconOnly {
    border-left-width: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}
