<div style="max-width: 400px">
  <%= render(Primer::OpenProject::FileTreeView.new) do |tree_view| %>
    <% tree_view.with_directory(label: "src", expanded: expanded, select_variant: select_variant) do |dir| %>
      <% dir.with_trailing_visual_icon(icon: :"diff-modified") %>

      <% dir.with_file(label: "button.rb", select_variant: select_variant) %>
      <% dir.with_file(label: "icon_button.rb", current: true, select_variant: select_variant) %>

      <% dir.with_directory(label: "tree_view", select_variant: select_variant) do |subdir| %>
        <% subdir.with_file(label: "sub_tree.rb", select_variant: select_variant) %>
      <% end %>
    <% end %>

    <% tree_view.with_file(label: "action_menu.rb", select_variant: select_variant) %>
  <% end %>
</div>
