<div style="display: flex; gap: 1rem;">
  <%= render(Primer::Beta::Button.new(
      scheme: :secondary,
      size: :medium,
      disabled: disabled
  )) do %>
    Button
  <% end %>
  <%= render(Primer::Beta::Button.new(
      scheme: :primary,
      size: :medium,
      disabled: disabled
  )) do %>
    Button
  <% end %>
  <%= render(Primer::Beta::Button.new(
      scheme: :invisible,
      size: :medium,
      disabled: disabled
  )) do %>
    Button
  <% end %>
  <%= render(Primer::Beta::Button.new(
      scheme: :danger,
      size: :medium,
      disabled: disabled
  )) do %>
    Button
  <% end %>
</div>
