<div style="width: 200px;">
  <%= render(Primer::Beta::Button.new(
      scheme: :link,
      size: :medium,
  )) do %>
    This is a button styled to look like a link that wraps like a link
  <% end %>
</div>
