# frozen_string_literal: true

require "lib/erblint_test_case"

class <%= component_short_name %>ComponentMigrationCounterTest < ErblintTestCase
  include Primer::BasicLinterSharedTests
  <%- if @autocorrectable -%>
  include Primer::AutocorrectableLinterSharedTests
  <%- end -%>

  def test_add_linter_specific_tests
    raise StandardError, "The test helpers will add basic tests for your linter, but you should add specific test cases too."
  end

  private

  def linter_class
    ERBLint::Linters::<%= component_short_name %>ComponentMigrationCounter
  end

  def default_tag
    "<%= default_tag %>"
  end

  <%- if @classes && @classes != "" -%>
  def default_class
    "<%= @classes.split.first %>"
  end
  <%- end -%>

  <%- if @required_arguments && @required_arguments != "" -%>
  def required_attributes
    '<%= @required_arguments.split.map { |arg| "#{arg}=\"#{arg}\""}.join(" ") %>'
  end

  def required_arguments
    '<%= @required_arguments.split.map { |arg| "#{arg.include?("-") ? "\"#{arg}\"" : arg}: \"#{arg}\""}.join(", ") %>'
  end
  <%- end -%>
end
