# frozen_string_literal: true

module Primer
  module <%= module_name %>
    class <%= class_name %>Preview < ViewComponent::Preview
      def default
        render(Primer::<%= module_name %>::<%= class_name %>.new)
      end
    end
  end
end
