<%= render Primer::BaseComponent.new(**@system_arguments) do %>
  <% if @header.present? %>
    <div class="dropdown-header">
      <%= @header %>
    </div>
  <% end %>
  <ul>
    <% items.each do |item| %>
      <%= item %>
    <% end %>
  </ul>
<% end %>
