<%= render Primer::DetailsMenuComponent.new(**@system_arguments) do %>
  <% if @header.present? %>
    <div class="dropdown-header">
      <%= @header %>
    </div>
  <% end %>
  <%= content %>
<% end %>
