<%= render Primer::BaseComponent.new(**@system_arguments) do %>
  <span class="sr-only">Loading</span>
  <%= render Primer::BaseComponent.new(
    tag: :svg,
    viewBox: '0 0 16 16',
    fill: :none,
    animation: :rotate,
    width: @size,
    height: @size,
    vertical_align: :bottom
  ) do %>
    <circle cx="8" cy="8" r="7" stroke="currentColor" stroke-opacity="0.25" stroke-width="2" vector-effect="non-scaling-stroke" />
    <path d="M15 8a7.002 7.002 0 00-7-7" stroke="currentColor" stroke-width="2" stroke-linecap="round" vector-effect="non-scaling-stroke" />
  <% end %>
<% end %>
