<% unless is_list? %>
  <li role="presentation" tabindex="-1">
    <%= render(Primer::BaseComponent.new(**@system_arguments)) { content } %>
  </li>
<% else %>
    <%= render(Primer::BaseComponent.new(**@system_arguments)) { content } %>
<% end %>
