<div style="display: grid; place-content: center; margin-top: 4rem;">
    <%= render(Primer::Beta::Button.new(id: "tooltip-e")) do |b| %>
      <% b.with_tooltip(text: "This is a tooltip", direction: :e) %>
      Tooltip east
    <% end %>
</div>
