<div style="display: grid; place-content: center;">
    <%= render(Primer::Beta::Button.new(id: "tooltip-n")) do |b| %>
      <% b.with_tooltip(text: "This is a tooltip", direction: :n) %>
      Tooltip north
    <% end %>
</div>
