<div style="display: grid; place-content: center;">
    <%= render(Primer::Beta::Button.new(id: "tooltip-se")) do |b| %>
      <% b.with_tooltip(text: "This is a tooltip", direction: :se) %>
      Tooltip southeast
    <% end %>
</div>
