<div style="display: grid; place-content: center; margin-top: 4rem;">
    <%= render(Primer::Beta::Button.new(id: "tooltip-w")) do |b| %>
      <% b.with_tooltip(text: "This is a tooltip", direction: :w) %>
      Tooltip west
    <% end %>
</div>
