<div style="display: grid; place-content: center;">
    <%= render(Primer::Beta::Button.new(id: "tooltip-sw")) do |b| %>
      <% b.with_tooltip(text: "This is a tooltip", direction: :sw) %>
      Tooltip southwest
    <% end %>
</div>
