<div>
  <%= render(Primer::Beta::Button.new(id: "button-1")) do |component| %>
    <% component.with_tooltip(text: tooltip_text, direction: direction) %>
    Button 1
  <% end %>
  <%= render(Primer::Beta::Button.new(id: "button-2")) do |component| %>
    <% component.with_tooltip(text: tooltip_text, direction: direction) %>
    Button 2
  <% end %>
  <%= render(Primer::Beta::Button.new(id: "button-3")) do |component| %>
    <% component.with_tooltip(text: tooltip_text, direction: direction) %>
    Button 3
  <% end %>
</div>
