name: CHANGELOG

on: [pull_request]

jobs:
  changed_files:
    runs-on: ubuntu-latest
    # Map a step output to a job output
    outputs:
      all: ${{ steps.changes.outputs.all}}
      markdown: ${{ steps.changes.outputs.markdown }}
    steps:
      # Make sure we have some code to diff.
      - name: Checkout repository
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Get changed files
        id: changes
        # Set outputs using the command.
        run: |
          echo "::set-output name=all::$(git diff --name-only --diff-filter=ACMRT ${{ github.event.pull_request.base.sha }} ${{ github.event.pull_request.head.sha }} | xargs)"
          echo "::set-output name=markdown::$(git diff --name-only --diff-filter=ACMRT ${{ github.event.pull_request.base.sha }} ${{ github.event.pull_request.head.sha }} | grep .md$ | xargs)"
  check_for_changes:
    runs-on: ubuntu-latest
    # require the first job to have ran
    needs: changed_files
    steps:
      - name: echo changed files
        run: |
          if [[ ! "${{needs.changed_files.outputs.markdown}}" == *"CHANGELOG.md"* ]]; then
            echo "::error file=CHANGELOG.md,line=1,col=1::Please make sure that you add a CHANGELOG entry to describe the changes in this pull request."
            exit 1
          fi
