name: CI

on:
  pull_request:
    branches:
      - '*'
  push:
    branches:
      - main

jobs:
  benchmark:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        rails_version: [6.1.1, 7.0.3, main]
        ruby_version: [2.7.x, 3.0.x, 3.1.x]
    steps:
    - uses: actions/checkout@master
    - name: Setup Ruby
      uses: actions/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby_version }}
    - uses: actions/cache@v2
      with:
        path: vendor/bundle
        key: gems-build-bench-rails-${{ matrix.rails_version }}-ruby-${{ matrix.ruby_version }}-${{ hashFiles('**/Gemfile.lock') }}
    - name: Build and test with Rake
      run: |
        gem install bundler:2.2.9
        bundle config path vendor/bundle
        bundle update actionview activemodel activesupport railties
        bundle exec rake bench
      env:
        RUBY_VERSION: ${{ matrix.ruby_version }}
        RAILS_VERSION: ${{ matrix.rails_version }}
  stories:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - name: Setup Ruby
      uses: actions/setup-ruby@v1
      with:
        ruby-version: 3.0
    - uses: actions/cache@v2
      with:
        path: vendor/bundle
        key: gems-build-stories-ruby-3.0-${{ hashFiles('**/Gemfile.lock') }}
    - name: Build gem
      run: |
        gem install bundler:2.2.9
        bundle config path vendor/bundle
        bundle update actionview activemodel activesupport railties
        cd demo
        bundle config path vendor/bundle
        bundle update actionview activemodel activesupport railties
        bin/rails view_component_storybook:write_stories_json
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        rails_version: [6.1.1, 7.0.3, main]
        ruby_version: [2.7.x, 3.0.x, 3.1.x]
    steps:
    - uses: actions/checkout@master
    - name: Setup Ruby
      uses: actions/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby_version }}
    - uses: actions/cache@v2
      with:
        path: vendor/bundle
        key: gems-build-rails-${{ matrix.rails_version }}-ruby-${{ matrix.ruby_version }}-${{ hashFiles('**/Gemfile.lock') }}
    - uses: actions/setup-node@v2
      with:
        node-version: 14
    - run: |
        yarn
        cd demo && yarn
    - name: Build and test with Rake
      run: |
        gem install bundler:2.2.9
        bundle config path vendor/bundle
        bundle update actionview activemodel activesupport railties
        bundle exec rake docs:preview
        bundle exec rake
      env:
        RAILS_VERSION: ${{ matrix.rails_version }}
        COVERAGE: 1
    - name: Upload coverage results
      uses: actions/upload-artifact@master
      if: always()
      with:
        name: simplecov-resultset-rails${{matrix.rails_version}}-ruby${{matrix.ruby_version}}
        path: coverage
  deprecated:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - name: Setup Ruby
      uses: actions/setup-ruby@v1
      with:
        ruby-version: 3.0.x
    - name: Make sure deprecated components can be linted
      run: |
        gem install bundler:2.2.9
        bundle config path vendor/bundle
        bundle install --jobs 4 --retry 3
        bundle exec rake static:dump
        bundle exec rake deprecated:check
  coverage:
    needs: test
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - name: Setup Ruby
      uses: actions/setup-ruby@v1
      with:
        ruby-version: 3.0.x
    - name: Download coverage results
      uses: actions/download-artifact@v2
    - uses: actions/cache@v2
      with:
        path: vendor/bundle
        key: gems-build-rails-main-ruby-3.0.x-${{ hashFiles('**/Gemfile.lock') }}
    - name: Collate simplecov
      run: |
        gem install bundler:2.2.9
        bundle config path vendor/bundle
        bundle install --jobs 4 --retry 3
        bundle exec rake coverage:report
