name: Release
on:
  push:
    branches:
      - 'main'
jobs:
  release:
    name: Final
    if: ${{ github.repository == 'primer/view_components' }}

    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
        with:
          # This makes Actions fetch all Git history so that Changesets can generate changelogs with the correct commits
          fetch-depth: 0
          persist-credentials: false

      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: 16.x

      - name: Install dependencies
        run: |
          yarn
      - name: Create release pull request or publish to npm
        id: changesets
        uses: changesets/action@master
        with:
          title: Release Tracking
          version: yarn changeset:version
          publish: |
            # Get the current version
            PACKAGE_VERSION=$(jq '.version' --raw-output ./package.json)

            # Check if the remote has the current version as a git tag
            # If it doesn't, we echo "New tag:" which is what the changeset action expects https://github.com/changesets/action/blob/b98cec97583b917ff1dc6179dd4d230d3e439894/src/run.ts#L123
            git ls-remote --exit-code --tags origin "v$PACKAGE_VERSION" || echo "New tag:"
        env:
          GITHUB_TOKEN: ${{ secrets.GPR_AUTH_TOKEN_SHARED }}
          NPM_TOKEN: ${{ secrets.NPM_AUTH_TOKEN_SHARED }}
