name: Release
on:
  push:
    branches:
      - 'main'
jobs:
  release:
    name: Final
    if: ${{ github.repository == 'primer/view_components' }}

    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          # This makes Actions fetch all Git history so that Changesets can generate changelogs with the correct commits
          fetch-depth: 0
          persist-credentials: false

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 16
          cache: 'npm'

      - name: Setup Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.2'

      - name: Install dependencies
        run: |
          npm ci
          bundle install

      # `changesets/action` depends on @changesets/cli being installed ...
      - run: npm install @changesets/cli@2.26.1

      - name: Create release pull request or publish to npm
        id: changesets
        uses: changesets/action@v1
        with:
          title: Release Tracking
          version: npm run changeset:version
          publish: script/changeset-publish
        env:
          GITHUB_TOKEN: ${{ secrets.GPR_AUTH_TOKEN_SHARED }}
          NPM_TOKEN: ${{ secrets.NPM_AUTH_TOKEN_SHARED }}
