name: Release
on:
  push:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  id-token: write # Required for OIDC
  contents: read
  checks: write
  statuses: write

jobs:
  release-main:
    name: Main
    if: ${{ github.repository == 'primer/view_components' && github.ref_name == 'main' }}

    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
        with:
          # This makes Actions fetch all Git history so that Changesets can generate changelogs with the correct commits
          fetch-depth: 0
          persist-credentials: false

      - name: Set up Node.js
        uses: actions/setup-node@v5
        with:
          node-version: 20
          cache: "npm"

      - name: Setup Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: "3.3"

      - name: Install dependencies
        run: |
          npm ci
          bundle install

      # Use the primer GitHub App for authentication.
      # See: https://github.com/organizations/primer/settings/apps/primer
      - name: Get App Token
        uses: actions/create-github-app-token@v2
        id: get-access-token
        with:
          app-id: ${{ vars.PRIMER_APP_ID_SHARED }}
          owner: primer
          private-key: ${{ secrets.PRIMER_APP_PRIVATE_KEY_SHARED }}

      - name: Create release pull request or publish to npm
        id: changesets
        uses: changesets/action@v1.4.10
        with:
          title: Release Tracking
          version: npm run changeset:version
          publish: script/changeset-publish
        env:
          GITHUB_TOKEN: ${{ steps.get-access-token.outputs.token }}
          NPM_TOKEN: ${{ secrets.NPM_AUTH_TOKEN_SHARED }}

  release-canary:
    name: Canary
    if: ${{ github.repository == 'primer/view_components' && github.ref_name != 'main' && github.ref_name != 'changeset-release/main' }}
    uses: primer/.github/.github/workflows/release_canary.yml@v2.2.1
    with:
      install: npm i
    secrets:
      gh_token: ${{ secrets.GITHUB_TOKEN }}
      npm_token: ${{ secrets.NPM_AUTH_TOKEN_SHARED }}

  release-candidate:
    name: Candidate
    if: ${{ github.repository == 'primer/view_components' && github.ref_name == 'changeset-release/main' }}
    uses: primer/.github/.github/workflows/release_candidate.yml@v2.2.1
    secrets:
      gh_token: ${{ secrets.GITHUB_TOKEN }}
      npm_token: ${{ secrets.NPM_AUTH_TOKEN_SHARED }}
