name: Release
on:
  push:
    branches-ignore:
      - 'main'
      - 'dependabot/**'
      - 'changeset/**'

jobs:
  release-canary:
    name: npm
    if: ${{ github.repository == 'primer/view_components' }}
    uses: primer/.github/.github/workflows/release_canary.yml@main
    with:
      install: npm i
    secrets:
      gh_token: ${{ secrets.GITHUB_TOKEN }}
      npm_token: ${{ secrets.NPM_AUTH_TOKEN_SHARED }}
