name: Generate static files

on:
  push:

jobs:
  static:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/create-github-app-token@v2
        id: app-token
        with:
          app-id: ${{ vars.PRIMER_APP_ID_SHARED }}
          private-key: ${{ secrets.PRIMER_APP_PRIVATE_KEY_SHARED }}
          owner: primer
          repositories: view_components
      - uses: actions/checkout@v5
        with:
          token: ${{ steps.app-token.outputs.token }}
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.3'
          bundler-cache: true
      - uses: actions/setup-node@v5
        with:
          node-version: 20
          cache: 'npm'
      - name: Build
        run: npm ci
      - name: Generate static files
        run: |
          bundle exec rake utilities:build
          bundle exec rake docs:build
          bundle exec rake static:dump
      - uses: stefanzweifel/git-auto-commit-action@v6.0.1
        with:
          commit_message: Generating static files
          commit_user_name: GitHub Design Engineering Bot
          commit_user_email: primer-css@users.noreply.github.com
          commit_author: primer-css <primer-css@users.noreply.github.com>
          file_pattern: lib/primer/classify/utilities.yml static/*.json
