name: Test Selectors

on:
  pull_request:
  push:
    branches:
      - main
  merge_group:
    branches:
      - main
    types:
      - checks_requested

permissions:
  contents: read

concurrency:
  group: test-selectors-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  selectors:
    name: CSS coverage
    runs-on: ubuntu-latest-8-cores
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Setup Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: "3.2"
          bundler-cache: true
      - name: Setup Node
        uses: actions/setup-node@v5
        with:
          node-version: 20
          cache: "npm"
      - name: NPM Build
        run: npm ci
        env:
          # Disable CSS minification for tests
          CI: "false"
      - name: Test CSS
        run: bundle exec rake test:component_css
