name: Test

on:
  pull_request:
  push:
    branches:
      - main

permissions:
  contents: write
  pull-requests: write

concurrency:
  group: test-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

env:
  FERRUM_PROCESS_TIMEOUT: 30

jobs:
  # accessibility:
  #   name: Accessibility
  #   runs-on: ubuntu-latest-8-cores
  #   steps:
  #   - uses: actions/checkout@v3
  #   - uses: ruby/setup-ruby@v1
  #     with:
  #       ruby-version: '3.2'
  #       bundler-cache: true
  #   - uses: actions/setup-node@v3
  #     with:
  #       node-version: 16
  #       cache: 'npm'
  #       cache-dependency-path: |
  #         package-lock.json
  #         demo/package-lock.json
  #   - name: Build
  #     run: |
  #       bundle exec rake docs:preview
  #       npm ci
  #       cd demo && npm ci
  #   - name: Test
  #     run: bundle exec rake test:accessibility
  # components:
  #   name: Components
  #   runs-on: ubuntu-latest
  #   strategy:
  #     fail-fast: false
  #     matrix:
  #       include:
  #         - rails_version: "6.1.1"
  #           ruby_version: "2.7"
  #         - rails_version: "7.0.3"
  #           ruby_version: "3.0"
  #         - rails_version: "main"
  #           ruby_version: "3.1"
  #         - rails_version: "main"
  #           ruby_version: "3.2"
  #   steps:
  #   - uses: actions/checkout@v3
  #   - uses: ruby/setup-ruby@v1
  #     with:
  #       ruby-version: ${{ matrix.ruby_version }}
  #       bundler-cache: true
  #       cache-version: ${{ matrix.rails_version }}-${{ matrix.ruby_version }}
  #   - uses: actions/setup-node@v3
  #     with:
  #       node-version: 16
  #       cache: 'npm'
  #   - name: Build
  #     run: |
  #       npm ci
  #       bundle config unset deployment
  #       bundle update
  #     env:
  #       RUBY_VERSION: ${{ matrix.ruby_version }}
  #       RAILS_VERSION: ${{ matrix.rails_version }}
  #   - name: Test
  #     run: |
  #       bundle exec rake test:components
  #       bundle exec rake test:coverage
  #     env:
  #       COVERAGE: 1
  #       RUBY_VERSION: ${{ matrix.ruby_version }}
  #       RAILS_VERSION: ${{ matrix.rails_version }}
  # lib:
  #   name: Lib
  #   runs-on: ubuntu-latest
  #   strategy:
  #     fail-fast: false
  #     matrix:
  #       include:
  #         - rails_version: "6.1.1"
  #           ruby_version: "2.7"
  #         - rails_version: "7.0.3"
  #           ruby_version: "3.0"
  #         - rails_version: "main"
  #           ruby_version: "3.1"
  #         - rails_version: "main"
  #           ruby_version: "3.2"
  #   steps:
  #   - uses: actions/checkout@v3
  #   - uses: ruby/setup-ruby@v1
  #     with:
  #       ruby-version: ${{ matrix.ruby_version }}
  #       bundler-cache: true
  #       cache-version: ${{ matrix.rails_version }}-${{ matrix.ruby_version }}
  #   - uses: actions/setup-node@v3
  #     with:
  #       node-version: 16
  #       cache: 'npm'
  #   - name: Build
  #     run: |
  #       npm ci
  #       bundle config unset deployment
  #       bundle update
  #     env:
  #       RUBY_VERSION: ${{ matrix.ruby_version }}
  #       RAILS_VERSION: ${{ matrix.rails_version }}
  #   - name: Test
  #     run: |
  #       bundle exec rake test:lib
  #       bundle exec rake test:coverage
  #     env:
  #       COVERAGE: 1
  #       RUBY_VERSION: ${{ matrix.ruby_version }}
  #       RAILS_VERSION: ${{ matrix.rails_version }}
  # performance:
  #   name: Performance
  #   runs-on: ubuntu-latest
  #   strategy:
  #     fail-fast: false
  #     matrix:
  #       include:
  #         - rails_version: "6.1.1"
  #           ruby_version: "2.7"
  #         - rails_version: "7.0.3"
  #           ruby_version: "3.0"
  #         - rails_version: "main"
  #           ruby_version: "3.1"
  #         - rails_version: "main"
  #           ruby_version: "3.2"
  #   steps:
  #   - uses: actions/checkout@v3
  #   - uses: ruby/setup-ruby@v1
  #     with:
  #       ruby-version: ${{ matrix.ruby_version }}
  #       bundler-cache: true
  #       cache-version: ${{ matrix.rails_version }}-${{ matrix.ruby_version }}
  #   - name: Build
  #     run: |
  #       bundle config unset deployment
  #       bundle update
  #     env:
  #       RUBY_VERSION: ${{ matrix.ruby_version }}
  #       RAILS_VERSION: ${{ matrix.rails_version }}
  #   - name: Test
  #     run: |
  #       bundle exec rake test:performance
  #     env:
  #       RUBY_VERSION: ${{ matrix.ruby_version }}
  #       RAILS_VERSION: ${{ matrix.rails_version }}
  # system:
  #   name: System
  #   runs-on: ubuntu-latest
  #   steps:
  #   - uses: actions/checkout@v3
  #   - uses: ruby/setup-ruby@v1
  #     with:
  #       ruby-version: '3.2'
  #       bundler-cache: true
  #   - uses: actions/setup-node@v3
  #     with:
  #       node-version: 16
  #       cache: 'npm'
  #       cache-dependency-path: |
  #         package-lock.json
  #         demo/package-lock.json
  #   - name: Build
  #     run: |
  #       npm ci
  #       cd demo && npm ci
  #   - name: Test
  #     run: |
  #       bundle exec rake test:system
  build-playwright-runner:
    name: Build Playwright Runner
    runs-on: ubuntu-latest
    permissions:
      packages: write
    steps:
      - uses: actions/checkout@v3
      - name: Build
        run: |
          playwright_version=$(cat package-lock.json | jq -j '.packages."node_modules/@playwright/test".version')
          image_url="ghcr.io/primer/pvc-playwright-runner:$playwright_version-node$NODE_VERSION"

          echo "${GITHUB_TOKEN}" | docker login ghcr.io -u "${{ github.actor }}" --password-stdin

          docker manifest inspect $image_url || {
            docker build \
              --file .github/workflows/playwright-runner/Dockerfile \
              --build-arg "NODE_VERSION=$NODE_VERSION" \
              --build-arg "PLAYWRIGHT_VERSION=$playwright_version" \
              -t $image_url \
              .github/workflows/playwright-runner;

            docker push $image_url;
          }
        env:
          NODE_VERSION: 16
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  visual:
    name: Visual Regressions
    if: ${{ github.event_name == 'pull_request' }}
    timeout-minutes: 20
    runs-on: ubuntu-latest-8-cores
    needs: build-playwright-runner
    steps:
    - uses: actions/checkout@v3
    - uses: ruby/setup-ruby@v1
      with:
        ruby-version: '3.2'
        bundler-cache: true
      env:
        BUNDLE_GEMFILE: Gemfile
    - uses: ruby/setup-ruby@v1
      with:
        ruby-version: '3.2'
        bundler-cache: true
      env:
        BUNDLE_GEMFILE: demo/Gemfile
    - name: Build static files
      run: bundle exec rake static:dump
    - uses: actions/setup-node@v3
      with:
        node-version: 16
        cache: 'npm'
        cache-dependency-path: |
          package-lock.json
          demo/package-lock.json
    - name: Build
      run: |
        playwright_version=$(cat package-lock.json | jq -j '.packages."node_modules/@playwright/test".version')
        image_url="ghcr.io/primer/pvc-playwright-runner:$playwright_version-node$NODE_VERSION"

        npm ci
        (cd demo && bin/rails s -b 0.0.0.0 -p 4000 -d)

        cat <<"EOF" > run-playwright.sh
          npm ci
          RAILS_APP_URL="http://172.17.0.1:4000" npx playwright test --workers 6
        EOF

        docker run \
          --rm \
          -w /usr/src/app \
          -v $(pwd):/usr/src/app \
          $image_url \
          /bin/bash run-playwright.sh
      env:
        NODE_VERSION: 16
    - id: auto-commit
      uses: stefanzweifel/git-auto-commit-action@v4
      with:
        commit_message: Generating component snapshots
        file_pattern: .playwright/screenshots/**/*.png
    - name: "Changes detected"
      if: steps.auto-commit.outputs.changes_detected == 'true'
      uses: phulsechinmay/rewritable-pr-comment@v0.3.0
      with:
        message: |
          ### ⚠️ Visual differences found

          Our visual comparison tests found UI differences. Please review the differences by viewing the files changed tab to ensure that the changes were intentional.

          [Review visual differences](https://github.com/primer/view_components/pull/${{ github.event.number }}/files?file-filters%5B%5D=.png&show-viewed-files=false)
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        COMMENT_IDENTIFIER: 'visual-comparison-diff'
    - uses: actions/upload-artifact@v3
      with:
        name: playwright-report
        path: .playwright/report/
        retention-days: 30
    - name: Failure
      if: ${{ steps.auto-commit.outputs.changes_detected == 'true' || steps.playwright-run.outcome == 'failure' }}
      run: exit 1
  # selectors:
  #   name: CSS coverage
  #   runs-on: ubuntu-latest-8-cores
  #   steps:
  #     - name: Checkout
  #       uses: actions/checkout@v3
  #     - name: Setup Ruby
  #       uses: ruby/setup-ruby@v1
  #       with:
  #         ruby-version: '3.2'
  #         bundler-cache: true
  #     - name: Setup Node
  #       uses: actions/setup-node@v3
  #       with:
  #         node-version: 16
  #         cache: 'npm'
  #     - name: NPM Build
  #       run: npm ci
  #     - name: Build Output Selectors
  #       run: script/build-assets
  #     - name: Test CSS
  #       run: bundle exec rake test:component_css
