name: Test

on:
  pull_request:
  push:
    branches:
      - main
  merge_group:
    branches:
      - main
    types:
      - checks_requested

permissions:
  contents: write
  pull-requests: write

concurrency:
  group: test-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

env:
  FERRUM_PROCESS_TIMEOUT: 30

jobs:
  load-matrix:
    name: Load test matrix
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}
    steps:
      - uses: actions/checkout@v6
      - id: set-matrix
        run: echo "matrix=$(cat .github/version-matrix.json | jq -c .)" >> $GITHUB_OUTPUT
  performance:
    name: Performance (${{ matrix.label }})
    runs-on: ubuntu-latest
    needs: load-matrix
    strategy:
      fail-fast: false
      matrix:
        include: ${{ fromJson(needs.load-matrix.outputs.matrix) }}
    steps:
      - uses: actions/checkout@v6
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby_version }}
          bundler-cache: true
          cache-version: ${{ matrix.rails_version }}-${{ matrix.ruby_version }}
      - name: Build
        run: |
          bundle config unset deployment
          bundle install --jobs 4 --retry 3
        env:
          RUBY_VERSION: ${{ matrix.ruby_version }}
          RAILS_VERSION: ${{ matrix.rails_version }}
      - name: Test
        run: |
          bundle exec rake test:performance
        env:
          RUBY_VERSION: ${{ matrix.ruby_version }}
          RAILS_VERSION: ${{ matrix.rails_version }}
  visual:
    name: Visual and Semantic Markup Regressions
    # Temp skip this run
    if: ${{ github.event_name == 'pull_request' && false }}
    timeout-minutes: 20
    runs-on: ubuntu-latest-8-cores
    steps:
      - uses: actions/checkout@v6
        with:
          ref: ${{ github.event.pull_request.head.ref }}
          repository: ${{ github.event.pull_request.head.repo.full_name }}
          fetch-depth: 0
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: "3.2"
          bundler-cache: true
      - uses: actions/setup-node@v5
        with:
          node-version: 20
          cache: "npm"
          cache-dependency-path: |
            package-lock.json
            demo/package-lock.json
      - name: Build
        run: |
          npm ci
          bundle install
          bundle exec rake static:dump
          cd demo
          npm ci
          bundle install
      - name: Install Overmind
        run: |
          sudo apt-get install tmux
          gem install overmind
      - name: Install Playwright Browsers
        run: npx playwright install --with-deps
      - name: Run Playwright tests
        id: playwright-run
        continue-on-error: true
        run: ./script/run-playwright
      - name: Update to latest branch tip
        if: ${{ github.event.pull_request.head.repo.full_name == github.repository }}
        run: |
          set -e
          BRANCH="${{ github.event.pull_request.head.ref }}"
          git config user.name "github-actions[bot]"
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git stash push -u -m "pre-auto-commit" || true
          git fetch origin "$BRANCH" --depth=1
          git checkout "$BRANCH"
          git reset --hard "origin/$BRANCH"
          git stash pop || true
      - id: auto-commit
        if: ${{ github.event.pull_request.head.repo.full_name == github.repository }}
        uses: stefanzweifel/git-auto-commit-action@v6.0.1
        with:
          commit_message: Generating component snapshots
          file_pattern: .playwright/screenshots/**/*.png .playwright/screenshots/**/*.yml
          push_options: --force-with-lease
      - name: "Changes detected"
        if: steps.auto-commit.outputs.changes_detected == 'true'
        uses: phulsechinmay/rewritable-pr-comment@v0.3.0
        with:
          message: |
            ### ⚠️ Visual or ARIA snapshot differences found

            Our visual and ARIA snapshot tests found UI differences. Please review the differences by viewing the files changed tab to ensure that the changes were intentional.

            [Review differences](https://github.com/primer/view_components/pull/${{ github.event.number }}/files?file-filters%5B%5D=.png&file-filters%5B%5D=.yml&show-viewed-files=false)
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          COMMENT_IDENTIFIER: "visual-comparison-diff"
      - uses: actions/upload-artifact@v4
        with:
          name: playwright-report
          path: .playwright/report/
          retention-days: 30
      - name: Failure
        if: ${{ steps.auto-commit.outputs.changes_detected == 'true' || steps.playwright-run.outcome == 'failure' }}
        run: exit 1
  selectors:
    name: CSS coverage
    runs-on: ubuntu-latest-8-cores
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Setup Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: "3.2"
          bundler-cache: true
      - name: Setup Node
        uses: actions/setup-node@v5
        with:
          node-version: 20
          cache: "npm"
      - name: NPM Build
        run: npm ci
        env:
          # Disable CSS minification for tests
          CI: "false"
      - name: Test CSS
        run: bundle exec rake test:component_css
